html {
  font-size: 12px;
  font-weight: 300;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color: hsl(194, 51%, 15%);
  background: #efefef;
}
h1, h2, h3, h4, h5, h6 {
  color: hsl(194, 70%, 46%)  !important;
  margin-bottom: 8px;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}
h3 {
  font-size: 16px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 500;
}
h5 {
  font-size: 14px;
  font-weight: 500;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6  a{
  color: hsl(187, 100%, 27%) !important;
  margin-bottom: 8px;
}
a {
  color: hsl(178, 100%, 32%);
}
strong {
  font-variant-caps: all-small-caps;
  font-weight: 700;
}